body {
    background-color: lightgreen;
}

h1 {
    color: green;
    font-size: 20px;
    font-family: Courier;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 5px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    text-indent: 30px
}

h2 {
    color: darkorange;
    font-style: normal;
    text-decoration: solid;
    text-indent: 30px
}


hr {
    height: 5px;
    width: 100%;
    background-color: black;
}


.Enlaces {
    color: blue;
    margin: 5px;
    grid-area: initial;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 10px;
}

iframe{
    margin:30px;
    margin-top:5px;
}
video {
    margin: 30px;
    margin-top: 5px;
}
